body, html {
    background-color: white;
}

input {
    margin: 8px 0;
    width: 80px;
}

.content {
	margin: auto;
	width: 80%;
}

md-input-container {
    min-height: 0px !important;
}

a {
    cursor: pointer;
    color: blue;
}

.collapse-content {
    padding: 0 18px;
    display: none;
    background-color: #f1f1f1;
    border: 5px solid lightblue;
}

.colHeader {
    position: sticky;
    top: 0;
}

#lookaheadCol {
    left: 0;
    position: sticky;
    z-index: 10;
}

.lookaheadItem {
    background-color: #EEE;
}

.callItem {
    background-color: #FFF;
}

md-list {
    padding: 0px!important;
}

h3 {
    font-weight: normal;
    font-size: inherit;
    margin: auto;
    padding: 15px 0px;
}