<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

    <script src="base64.js"></script>
    <script src="index.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico?">
    <link rel="stylesheet" type="text/css" href="index.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">


    <title>Random Call Planner</title>
</head>
<body>
<md-toolbar>
    <div class="md-toolbar-tools">
        <h1>
            <span>Cookie Clicker Random Call Planner</span>
        </h1>
    </div>
</md-toolbar>
<div ng-app="myApp" ng-controller="myCtrl">
    <div class="content">
		<div layout="row">
			<md-input-container flex>
				<label>Save Code / Game seed</label>
				<input onClick="this.select();" ng-model="saveString" style="color: grey;">
			</md-input-container>
			<md-button class="md-raised md-primary" ng-click="loadGame()">Import Save</md-button>
		</div>

		<p></p><b>Based on FtHoF planner v1, v2, v3, v4, v5 by RebelKeithy, Skeezy, Eminenti, Mylaaan, and Joseph. Huge thanks to them for
		creating such
		a helpful tool.</br>
		The current version is compatible with cookie clicker 2.053, "often imitated, never duplicated".
		<md-button class="md-raised md-primary" ng-click="collapseInterface(1)">see here</md-button>
		for the full version history, credits & contacts.</b></p>
		<div class="collapse-content" id="content-1">
			<ul>
				<li><a href="http://fthof-planner.s3-website.us-east-2.amazonaws.com/">FtHoF planner V1</a> by
					<a href="https://www.reddit.com/user/RebelKeithy">RebelKeithy</a> (reddit)
					<ul>
						<li>The first version made good use of the code that you can just copy from the cookie clicker
							website and interpreted the code in a way that made the first FtHoF planner. Basic but a
							powerful start.
						</li>
					</ul>
				</li>
				<li><a href="https://messieurs.github.io/fthofplannerv2/">FtHoF planner v2</a> by
					<a href="https://discord.gg/cookie">@skeezy</a> (discord)
					<ul>
						<li>The second version of the FtHoF planner with undeniable the biggest update to it to date.
							The new version also made it possible to have a look into the Gambler's Fever Dream and a
							combo-finder was added which made it more easy to actually find them.
						</li>
					</ul>
				</li>
				<li><a href="https://eminenti.github.io/FtHoF-Planner-v3/">FtHoF planner v3</a> by
					<a href="https://discord.com/invite/r6hssr5">@eminenti</a> (discord)
					<ul>
						<li>The third version was mainly a bugfix because of a bugfix. The original and second FtHoF
							planners made use (just like the original cookie clicker) of a second possible change to
							alter the outcome of FtHoF. This was a bug and fixed by Orteil. This broke the first 2
							planners and was fixed in V3. Later also the combo-finder was fixed not to calculate those
							outcomes for Gambler's Fever Dream.
						</li>
					</ul>
				</li>
				<li><a href="https://mylaaan.github.io/FtHoF-Planner-v4/">FtHoF planner v4</a> by
					<a href="https://discord.gg/cookie">@mylaaan</a> (discord)
					<ul>
						<li>The fourth version only added ease of use interface options. Like the "Cast Spell" button to
							make it easier to keep track of where you are without importing the save again. Also updated
							some visual features and removed Google Analytics.
						</li>
					</ul>
				</li>
				<li><a href="https://joseph3079.github.io/FtHoF-Planner-v5/">FtHoF planner v5</a> by
					<a href="https://discord.gg/cookie">@joseph3079</a> (discord)
					<ul>
						<li>The fifth version added a "Random Seed" column, which can be used to see how many onscreen cookies will cause a spell to backfire without needing to change settings repeatedly, and can be used to tell what Gambler's Fever Dream will give when it can't choose all 8 spells. Additionally, it now shows building specials, elder frenzies, and sugar lumps that aren't visible due to a wrong backfire chance.
						</li>
					</ul>
				</li>
				<li><a href="https://yeetdragon24.github.io/Random-Call-Planner/">Random Call Planner</a> by
					<a href="https://discord.gg/cookie">@yeetdragon24</a> (discord)
					<ul>
						<li>The Random Call version is modified to not show FtHoF or GFD outcomes but instead the raw Math.random() values, which can be used to gain more information on all spells cast in addition to just FtHoF and GFD, at the cost of user friendliness..
						</li>
					</ul>
				</li>

				<md-divider style="margin: 1em 0;"></md-divider>
				<li>For added features or bugs open an issue on <a
						href="https://github.com/yeetdragon24/Random-Call-Planner/issues">GitHub</a> or make it yourself
					and make a pull request. I will credit you of course.
				</li>
				<li>If you do make a bug report please add the save export. This makes it easier to visualise
					the problem you're facing and I can make sure it is fixed instead of almost being sure.
				</li>
				</li>
			</ul>
		</div>

		<md-divider></md-divider>
		<md-divider></md-divider>
		
        <br>
        <label>Render table</label>
        <md-checkbox ng-model="render"></md-checkbox>

		<md-divider>
        
		<label>Mode</label>
		<select ng-model="mode" ng-change="modeChange()" ng-options="x.name for x in modes"></select>
		<label>Seed</label>
		<input ng-model="seed">
        
		<br><md-divider>
		
		<label>{{mode.lookahead}}</label>
		<input type="number" ng-model="lookahead" min=1>
		<br><md-divider>
		
		
		<label>Call range</label>
		<input type="number" ng-model="minCall" min=1>
		<label>to</label>
		<input type="number" ng-model="maxCall" min={{minCall}}>
		
		<md-divider>
		<label>Spells cast total</label>
		<input type="number" ng-model="sCT" min=0>
		
		<md-divider>
		<md-button class="md-raised md-primary" ng-click="updateValues()">Apply Settings</md-button>
		<!-- <md-button class="md-raised md-primary" ng-click="printScope()">Print Scope</md-button> -->

		<md-divider></md-divider>
	</div>
	<div class="lowerContent">
        <div layout-gt-sm="row" layout="column" id="table">
        </div>
        <md-button class="md-raised md-primary" ng-click="loadMore()">Load More</md-button>
    </div>
</div>
</body>
</html>
